/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #a4c2d1;
}
h1,h2{
    font-family: 'DM Serif Display', serif;
    color: #184f63;
}


.sharp-corners, .sharp-corners * {
    border-radius: 0px;
}

/* Shared button style */
.btn-primary {
  background-color: #3498db; /* mid-blue */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.btn-primary:hover {
  background-color: #1d6d8a; /* darker blue on hover */
}


#hero {
    background-color: #a4c2d1;
    background-image: url(https://codeinstitute.s3.eu-west-1.amazonaws.com/Bootstrap/background.webp);
    padding: 5% 7%;
    background-position: 50% 70%;
    min-height: 500px;
    background-size: cover;
    
}

#hero .row, .sharp-corners * {
    border-radius: 0px;
}
/*about section*/
#about {
    background-color: white;
}

/*portfolio section*/
#portfolio {
    background-color: #dbdcde;
}

#portfolio .card-title {
    color: #1f7798;
    font-size: 1.3rem;
}

#portfolio  .btn-outline-secondary:hover{
    background-color: #1f7798;
    
}

#portfolio .card-text {
    min-height: 120px;
}

/*contact section*/
#contact {
    background-color: white;
}

#contact .row, .sharp-corners * {
    border-radius: 0px;
}

form .row .sharp-corners * {
    border-radius: 0px;
}
/*media queries*/
@media screen and(min-width:1200px){
    /* fixes all portfolio being too tall on larger screens*/
    #portfolio .card-text {
        min-height: auto;
    }
}